<div class="p-4 space-y-2">
    <h2 class="text-xl font-semibold">Projetos</h2>
    <p>SIGCETAM - Sistema Integrado de Gestão do CETAM

      O Desafio: Criar um diário de classe eletrônico para o Centro de Educação Tecnológica do Amazonas (CETAM) que fosse centralizado, eficiente e acessível em todo o estado, considerando a diversidade de infraestrutura e conectividade.
      
      A Solução: Arquitetamos e desenvolvemos uma aplicação web robusta utilizando Django. Para garantir a performance e a escalabilidade, implementamos uma arquitetura de microserviços e tarefas assíncronas. Tarefas pesadas, como geração de relatórios e notificações, são delegadas a workers Celery, que se comunicam através de um broker RabbitMQ, liberando o servidor web para responder rapidamente às interações do usuário.
      
      Tecnologias de Destaque:
      
          Backend: Django, Django REST Framework
      
          Processamento Assíncrono: Celery, Celery Beat, RabbitMQ
      
          Banco de Dados e Cache: MySQL, Redis
      
          Infraestrutura e Orquestração: Docker, Docker Compose, Nginx Proxy Manager
      
          Monitoramento e BI: Netdata, Metabase
      
          Automação: N8n</p>
  </div>
  