<div class="p-4 space-y-2">
    <h2 class="text-xl font-semibold">Sobre Mim</h2>
    <p>Sou um desenvolvedor focado em resultados. Minha paixão é entender problemas de negócio e transformá-los em soluções de software robustas e práticas. Tenho vasta experiência com o ecossistema Django, projetando e implementando arquiteturas complexas para sistemas de alto impacto.

      No meu principal projeto, o SIGCETAM, fui responsável por desenvolver uma plataforma de gestão educacional utilizada em todo o estado do Amazonas. A arquitetura, que orquestrei com Docker, utiliza um sistema de filas com Celery e RabbitMQ para processamento assíncrono de tarefas, garantindo uma experiência de usuário fluida e de alta performance.
      
      Busco constantemente a ferramenta certa para o problema certo, priorizando sempre a segurança, a leveza e a sustentabilidade financeira do projeto, uma abordagem essencial para a realidade tecnológica do Brasil.</p>
  </div>
  